.quote-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  margin-bottom: 25px;
}

.quote-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.quote-author {
  margin-top: 10px;
  color: #ccc;
}

.badge {
  background: #9b5cff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.heart {
  cursor: pointer;
  transition: 0.3s;
}

.heart:hover {
  color: red;
}