.layout {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  padding: 30px;
  position: fixed;
}

.sidebar h1 {
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #9b5cff;
}

.content {
  margin-left: 240px;
  padding: 40px;
  width: 100%;
}