body{
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
    transition: 0.4s;
}

.section{
    padding:80px 0;
}

.hero{
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    color:white;
    padding:120px 0;
}

.profile-img{
    width:180px;
    border-radius:50%;
    border:5px solid white;
}

.card{
    border:none;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.project-img{
    height:250px;
    object-fit:cover;
}

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode .card{
    background:#1e1e1e;
    color:white;
}

footer{
    background:#212529;
    color:white;
    padding:20px;
}
